# Секреты — НИКОГДА в git
.env
.env.local
.env.staging
.env.staging.server
*.env.local
.env.production
infra/remote_env

# Docker override — только для локальной разработки
docker-compose.override.yml

# Зависимости
node_modules/
dist/
build/

# Логи
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
gh.zip
